Fusion/ConnectionProvider/Service References/MainGate/MainGateService2.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://Core.MainGate" elementFormDefault="qualified" targetNamespace="http://Core.MainGate"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/MainGateService?xsd=xsd2"
             namespace="http://schemas.datacontract.org/2004/07/CommonTypes" />
  <xs:element name="Autentificate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutentificateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AutentificateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommonTypes" minOccurs="0" name="baseEvent"
                    nillable="true" type="q1:BaseEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubscribeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnsubscribeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommonTypes" minOccurs="0" name="newEvent"
                    nillable="true" type="q2:BaseEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>