Fusion/Emulators/DataProviders/OffGas/Service References/MainGate/MainGateService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Converter" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Converter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/MainGateService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core" />
  <xs:complexType name="CastIronTemperatureEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="LadlePotNumber" type="xs:short" />
          <xs:element minOccurs="0" name="Temperature" type="xs:short" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CastIronTemperatureEvent" nillable="true" type="tns:CastIronTemperatureEvent" />
  <xs:complexType name="ConverterBaseEvent">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Core" base="q1:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConverterBaseEvent" nillable="true" type="tns:ConverterBaseEvent" />
  <xs:complexType name="HeatStartEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="HeatNumber" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HeatStartEvent" nillable="true" type="tns:HeatStartEvent" />
  <xs:complexType name="HeatChangeNumberEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="HeatNumber" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HeatChangeNumberEvent" nillable="true" type="tns:HeatChangeNumberEvent" />
  <xs:complexType name="GivenO2FlowRateEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="O2FlowForLanceAnalysis" type="xs:short" />
          <xs:element minOccurs="0" name="O2TotalFlow" type="xs:short" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GivenO2FlowRateEvent" nillable="true" type="tns:GivenO2FlowRateEvent" />
  <xs:complexType name="ConverterAngleEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Angle" type="xs:short" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConverterAngleEvent" nillable="true" type="tns:ConverterAngleEvent" />
  <xs:complexType name="SteelAnalysisEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="HeatNumber" type="xs:int" />
          <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SteelAnalysisEvent" nillable="true" type="tns:SteelAnalysisEvent" />
  <xs:complexType name="LadlePotEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="CastIronTemperature" type="xs:short" />
          <xs:element minOccurs="0" name="CastIronTotalWeight" type="xs:int" />
          <xs:element minOccurs="0" name="LadlePotNumber" type="xs:short" />
          <xs:element minOccurs="0" name="MixerNumberPortion1" type="xs:short" />
          <xs:element minOccurs="0" name="MixerNumberPortion2" type="xs:short" />
          <xs:element minOccurs="0" name="MixerNumberPortion3" type="xs:short" />
          <xs:element minOccurs="0" name="WeightPortion1" type="xs:int" />
          <xs:element minOccurs="0" name="WeightPortion2" type="xs:int" />
          <xs:element minOccurs="0" name="WeightPortion3" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LadlePotEvent" nillable="true" type="tns:LadlePotEvent" />
  <xs:complexType name="ScrapEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="BucketNumber" type="xs:short" />
          <xs:element minOccurs="0" name="ConverterNumber" type="xs:short" />
          <xs:element minOccurs="0" name="ScrapType1" type="xs:short" />
          <xs:element minOccurs="0" name="ScrapType2" type="xs:short" />
          <xs:element minOccurs="0" name="ScrapType3" type="xs:short" />
          <xs:element minOccurs="0" name="ScrapType4" type="xs:short" />
          <xs:element minOccurs="0" name="ScrapType5" type="xs:short" />
          <xs:element minOccurs="0" name="ScrapType6" type="xs:short" />
          <xs:element minOccurs="0" name="ScrapType7" type="xs:short" />
          <xs:element minOccurs="0" name="ScrapType8" type="xs:short" />
          <xs:element minOccurs="0" name="TotalWeight" type="xs:int" />
          <xs:element minOccurs="0" name="Weight1" type="xs:int" />
          <xs:element minOccurs="0" name="Weight2" type="xs:int" />
          <xs:element minOccurs="0" name="Weight3" type="xs:int" />
          <xs:element minOccurs="0" name="Weight4" type="xs:int" />
          <xs:element minOccurs="0" name="Weight5" type="xs:int" />
          <xs:element minOccurs="0" name="Weight6" type="xs:int" />
          <xs:element minOccurs="0" name="Weight7" type="xs:int" />
          <xs:element minOccurs="0" name="Weight8" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScrapEvent" nillable="true" type="tns:ScrapEvent" />
  <xs:complexType name="OffGasEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Ar" type="xs:double" />
          <xs:element minOccurs="0" name="CO" type="xs:double" />
          <xs:element minOccurs="0" name="CO2" type="xs:double" />
          <xs:element minOccurs="0" name="H2" type="xs:double" />
          <xs:element minOccurs="0" name="N2" type="xs:double" />
          <xs:element minOccurs="0" name="O2" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OffGasEvent" nillable="true" type="tns:OffGasEvent" />
  <xs:complexType name="GivenCastIronWeightEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="ConverterNumber" type="xs:short" />
          <xs:element minOccurs="0" name="GivenWeight" type="xs:int" />
          <xs:element minOccurs="0" name="GivenWeightByDefault" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GivenCastIronWeightEvent" nillable="true" type="tns:GivenCastIronWeightEvent" />
  <xs:complexType name="MixerAnalysisEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="C" type="xs:double" />
          <xs:element minOccurs="0" name="MixerNumber" type="xs:int" />
          <xs:element minOccurs="0" name="Mn" type="xs:double" />
          <xs:element minOccurs="0" name="P" type="xs:double" />
          <xs:element minOccurs="0" name="S" type="xs:double" />
          <xs:element minOccurs="0" name="Si" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MixerAnalysisEvent" nillable="true" type="tns:MixerAnalysisEvent" />
  <xs:complexType name="LanceEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="BathLevel" type="xs:short" />
          <xs:element minOccurs="0" name="BlowingFlag" type="xs:short" />
          <xs:element minOccurs="0" name="BlowingInterruptFlag" type="xs:short" />
          <xs:element minOccurs="0" name="HeatingScrapFlag" type="xs:short" />
          <xs:element minOccurs="0" name="LanceHeight" type="xs:short" />
          <xs:element minOccurs="0" name="LanceMode" type="xs:short" />
          <xs:element minOccurs="0" name="LanceSelection" type="xs:short" />
          <xs:element minOccurs="0" name="NVol" type="xs:short" />
          <xs:element minOccurs="0" name="O2Flow" type="xs:double" />
          <xs:element minOccurs="0" name="O2FlowMode" type="xs:short" />
          <xs:element minOccurs="0" name="O2IgnitionVol" type="xs:short" />
          <xs:element minOccurs="0" name="O2LeftLanceGewBaer" type="xs:double" />
          <xs:element minOccurs="0" name="O2LeftLanceGewWeight" type="xs:double" />
          <xs:element minOccurs="0" name="O2LeftLanceLeck" type="xs:short" />
          <xs:element minOccurs="0" name="O2LeftLanceWaterInput" type="xs:short" />
          <xs:element minOccurs="0" name="O2LeftLanceWaterOutput" type="xs:short" />
          <xs:element minOccurs="0" name="O2LeftLanceWaterPressure" type="xs:double" />
          <xs:element minOccurs="0" name="O2LeftLanceWaterTempInput" type="xs:short" />
          <xs:element minOccurs="0" name="O2LeftLanceWaterTempOutput" type="xs:short" />
          <xs:element minOccurs="0" name="O2Pressure" type="xs:double" />
          <xs:element minOccurs="0" name="O2RightLanceGewBaer" type="xs:double" />
          <xs:element minOccurs="0" name="O2RightLanceGewWeight" type="xs:double" />
          <xs:element minOccurs="0" name="O2RightLanceLeck" type="xs:short" />
          <xs:element minOccurs="0" name="O2RightLanceWaterInput" type="xs:short" />
          <xs:element minOccurs="0" name="O2RightLanceWaterOutput" type="xs:short" />
          <xs:element minOccurs="0" name="O2RightLanceWaterPressure" type="xs:double" />
          <xs:element minOccurs="0" name="O2RightLanceWaterTempInput" type="xs:short" />
          <xs:element minOccurs="0" name="O2RightLanceWaterTempOutput" type="xs:short" />
          <xs:element minOccurs="0" name="O2TorkVol" type="xs:short" />
          <xs:element minOccurs="0" name="O2TotalVol" type="xs:short" />
          <xs:element minOccurs="0" name="ReblowingFlag" type="xs:short" />
          <xs:element minOccurs="0" name="SkullCuttingFlag" type="xs:short" />
          <xs:element minOccurs="0" name="SlagBlowingFlag" type="xs:short" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LanceEvent" nillable="true" type="tns:LanceEvent" />
  <xs:complexType name="CastIronWeightEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="LadlePotNumber" type="xs:short" />
          <xs:element minOccurs="0" name="MixerNumberPortion1" type="xs:short" />
          <xs:element minOccurs="0" name="MixerNumberPortion2" type="xs:short" />
          <xs:element minOccurs="0" name="MixerNumberPortion3" type="xs:short" />
          <xs:element minOccurs="0" name="Status" type="xs:int" />
          <xs:element minOccurs="0" name="StatusTLCPortion1" type="xs:short" />
          <xs:element minOccurs="0" name="StatusTLCPortion2" type="xs:short" />
          <xs:element minOccurs="0" name="StatusTLCPortion3" type="xs:short" />
          <xs:element minOccurs="0" name="TotalWeight" type="xs:int" />
          <xs:element minOccurs="0" name="WeightPortion1" type="xs:int" />
          <xs:element minOccurs="0" name="WeightPortion2" type="xs:int" />
          <xs:element minOccurs="0" name="WeightPortion3" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CastIronWeightEvent" nillable="true" type="tns:CastIronWeightEvent" />
</xs:schema>