Fusion/DataProviders/DirectOPCClient/Service References/MainGate/MainGateService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Converter" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Converter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/MainGateService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core" />
  <xs:import schemaLocation="http://localhost:8001/MainGateService?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="SlagBlowingEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="NVol" type="xs:int" />
          <xs:element minOccurs="0" name="SlagBlowingFlag" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SlagBlowingEvent" nillable="true" type="tns:SlagBlowingEvent" />
  <xs:complexType name="ConverterBaseEvent">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Core" base="q1:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="iCnvNr" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConverterBaseEvent" nillable="true" type="tns:ConverterBaseEvent" />
  <xs:complexType name="ConverterAngleEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Angle" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConverterAngleEvent" nillable="true" type="tns:ConverterAngleEvent" />
  <xs:complexType name="AdditionsEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChemestryAttributes" nillable="true" type="q2:ArrayOfKeyValueOfstringdouble" />
          <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Destination" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DryingDuration" type="xs:int" />
          <xs:element minOccurs="0" name="MaterialName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PortionWeight" type="xs:int" />
          <xs:element minOccurs="0" name="StringNo" type="xs:int" />
          <xs:element minOccurs="0" name="TotalWeight" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AdditionsEvent" nillable="true" type="tns:AdditionsEvent" />
  <xs:complexType name="HotMetalLadleEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="HotMetalTemperature" type="xs:int" />
          <xs:element minOccurs="0" name="HotMetalTotalWeight" type="xs:int" />
          <xs:element minOccurs="0" name="LadleNumber" type="xs:int" />
          <xs:element minOccurs="0" name="MixerNumberPortion1" type="xs:int" />
          <xs:element minOccurs="0" name="MixerNumberPortion2" type="xs:int" />
          <xs:element minOccurs="0" name="MixerNumberPortion3" type="xs:int" />
          <xs:element minOccurs="0" name="WeightPortion1" type="xs:int" />
          <xs:element minOccurs="0" name="WeightPortion2" type="xs:int" />
          <xs:element minOccurs="0" name="WeightPortion3" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HotMetalLadleEvent" nillable="true" type="tns:HotMetalLadleEvent" />
  <xs:complexType name="SteelAnalysisEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="HeatNumber" type="xs:int" />
          <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SteelAnalysisEvent" nillable="true" type="tns:SteelAnalysisEvent" />
  <xs:complexType name="ScrapEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="BucketNumber" type="xs:int" />
          <xs:element minOccurs="0" name="ConverterNumber" type="xs:int" />
          <xs:element minOccurs="0" name="ScrapType1" type="xs:int" />
          <xs:element minOccurs="0" name="ScrapType2" type="xs:int" />
          <xs:element minOccurs="0" name="ScrapType3" type="xs:int" />
          <xs:element minOccurs="0" name="ScrapType4" type="xs:int" />
          <xs:element minOccurs="0" name="ScrapType5" type="xs:int" />
          <xs:element minOccurs="0" name="ScrapType6" type="xs:int" />
          <xs:element minOccurs="0" name="ScrapType7" type="xs:int" />
          <xs:element minOccurs="0" name="ScrapType8" type="xs:int" />
          <xs:element minOccurs="0" name="TotalWeight" type="xs:int" />
          <xs:element minOccurs="0" name="Weight1" type="xs:int" />
          <xs:element minOccurs="0" name="Weight2" type="xs:int" />
          <xs:element minOccurs="0" name="Weight3" type="xs:int" />
          <xs:element minOccurs="0" name="Weight4" type="xs:int" />
          <xs:element minOccurs="0" name="Weight5" type="xs:int" />
          <xs:element minOccurs="0" name="Weight6" type="xs:int" />
          <xs:element minOccurs="0" name="Weight7" type="xs:int" />
          <xs:element minOccurs="0" name="Weight8" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScrapEvent" nillable="true" type="tns:ScrapEvent" />
  <xs:complexType name="OffGasAnalysisEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Ar" type="xs:double" />
          <xs:element minOccurs="0" name="CO" type="xs:double" />
          <xs:element minOccurs="0" name="CO2" type="xs:double" />
          <xs:element minOccurs="0" name="H2" type="xs:double" />
          <xs:element minOccurs="0" name="N2" type="xs:double" />
          <xs:element minOccurs="0" name="O2" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OffGasAnalysisEvent" nillable="true" type="tns:OffGasAnalysisEvent" />
  <xs:complexType name="BlowingInterruptEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="BlowingInterruptFlag" type="xs:int" />
          <xs:element minOccurs="0" name="O2TotalVol" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BlowingInterruptEvent" nillable="true" type="tns:BlowingInterruptEvent" />
  <xs:complexType name="TorkretingEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="O2TorkVol" type="xs:int" />
          <xs:element minOccurs="0" name="TorkretingFlag" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TorkretingEvent" nillable="true" type="tns:TorkretingEvent" />
  <xs:complexType name="ResetO2TotalVolEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="O2TotalVol" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResetO2TotalVolEvent" nillable="true" type="tns:ResetO2TotalVolEvent" />
  <xs:complexType name="LanceEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="BathLevel" type="xs:int" />
          <xs:element minOccurs="0" name="LanceHeight" type="xs:int" />
          <xs:element minOccurs="0" name="LanceMode" type="xs:int" />
          <xs:element minOccurs="0" name="O2Flow" type="xs:double" />
          <xs:element minOccurs="0" name="O2FlowMode" type="xs:int" />
          <xs:element minOccurs="0" name="O2LeftLanceGewBaer" type="xs:double" />
          <xs:element minOccurs="0" name="O2LeftLanceGewWeight" type="xs:double" />
          <xs:element minOccurs="0" name="O2LeftLanceLeck" type="xs:int" />
          <xs:element minOccurs="0" name="O2LeftLanceWaterInput" type="xs:int" />
          <xs:element minOccurs="0" name="O2LeftLanceWaterOutput" type="xs:int" />
          <xs:element minOccurs="0" name="O2LeftLanceWaterPressure" type="xs:double" />
          <xs:element minOccurs="0" name="O2LeftLanceWaterTempInput" type="xs:int" />
          <xs:element minOccurs="0" name="O2LeftLanceWaterTempOutput" type="xs:int" />
          <xs:element minOccurs="0" name="O2Pressure" type="xs:double" />
          <xs:element minOccurs="0" name="O2RightLanceGewBaer" type="xs:double" />
          <xs:element minOccurs="0" name="O2RightLanceGewWeight" type="xs:double" />
          <xs:element minOccurs="0" name="O2RightLanceLeck" type="xs:int" />
          <xs:element minOccurs="0" name="O2RightLanceWaterInput" type="xs:int" />
          <xs:element minOccurs="0" name="O2RightLanceWaterOutput" type="xs:int" />
          <xs:element minOccurs="0" name="O2RightLanceWaterPressure" type="xs:double" />
          <xs:element minOccurs="0" name="O2RightLanceWaterTempInput" type="xs:int" />
          <xs:element minOccurs="0" name="O2RightLanceWaterTempOutput" type="xs:int" />
          <xs:element minOccurs="0" name="O2TotalVol" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LanceEvent" nillable="true" type="tns:LanceEvent" />
  <xs:complexType name="ReBlowingEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="BlowingFlag" type="xs:int" />
          <xs:element minOccurs="0" name="O2TotalVol" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReBlowingEvent" nillable="true" type="tns:ReBlowingEvent" />
  <xs:complexType name="BlowingEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="BlowingFlag" type="xs:int" />
          <xs:element minOccurs="0" name="O2TotalVol" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BlowingEvent" nillable="true" type="tns:BlowingEvent" />
  <xs:complexType name="HeatingScrapEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="HeatingScrapFlag" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HeatingScrapEvent" nillable="true" type="tns:HeatingScrapEvent" />
  <xs:complexType name="MixerAnalysisEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="C" type="xs:double" />
          <xs:element minOccurs="0" name="MixerNumber" type="xs:int" />
          <xs:element minOccurs="0" name="Mn" type="xs:double" />
          <xs:element minOccurs="0" name="P" type="xs:double" />
          <xs:element minOccurs="0" name="S" type="xs:double" />
          <xs:element minOccurs="0" name="Si" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MixerAnalysisEvent" nillable="true" type="tns:MixerAnalysisEvent" />
  <xs:complexType name="OffGasEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="OffGasCounter" type="xs:int" />
          <xs:element minOccurs="0" name="OffGasFilterControlPos" type="xs:int" />
          <xs:element minOccurs="0" name="OffGasFlow" type="xs:double" />
          <xs:element minOccurs="0" name="OffGasHoodPos" type="xs:int" />
          <xs:element minOccurs="0" name="OffGasTemp" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OffGasEvent" nillable="true" type="tns:OffGasEvent" />
  <xs:complexType name="HeatChangeEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="HeatNumber" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HeatChangeEvent" nillable="true" type="tns:HeatChangeEvent" />
  <xs:complexType name="IgnitionEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConverterBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="O2IgnitionVol" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IgnitionEvent" nillable="true" type="tns:IgnitionEvent" />
</xs:schema>