Fusion/DataProviders/DataProviderExample/Service References/MainGateService/MainGate2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://NordSteeel.Core.MainGate" elementFormDefault="qualified" targetNamespace="http://NordSteeel.Core.MainGate" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/NordSteeel/Core/MainGate?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core" />
  <xs:element name="Autentificate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutentificateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AutentificateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Core" minOccurs="0" name="baseEvent" nillable="true" type="q1:BaseEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>