Emulators/DataProviders/OffGas/Service References/MainGateService/MainGate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://NordSteeel.Core.MainGate" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://NordSteeel.Core.MainGate" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://NordSteeel.Core.MainGate/Imports">
      <xsd:import schemaLocation="http://localhost:8000/NordSteeel/Core/MainGate?xsd=xsd0" namespace="http://NordSteeel.Core.MainGate" />
      <xsd:import schemaLocation="http://localhost:8000/NordSteeel/Core/MainGate?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/NordSteeel/Core/MainGate?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMainGate_Autentificate_InputMessage">
    <wsdl:part name="parameters" element="tns:Autentificate" />
  </wsdl:message>
  <wsdl:message name="IMainGate_Autentificate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutentificateResponse" />
  </wsdl:message>
  <wsdl:message name="IMainGate_PushEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:PushEvent" />
  </wsdl:message>
  <wsdl:message name="IMainGate_PushEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushEventResponse" />
  </wsdl:message>
  <wsdl:portType name="IMainGate">
    <wsdl:operation name="Autentificate">
      <wsdl:input wsaw:Action="http://NordSteeel.Core.MainGate/IMainGate/Autentificate" message="tns:IMainGate_Autentificate_InputMessage" />
      <wsdl:output wsaw:Action="http://NordSteeel.Core.MainGate/IMainGate/AutentificateResponse" message="tns:IMainGate_Autentificate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PushEvent">
      <wsdl:input wsaw:Action="http://NordSteeel.Core.MainGate/IMainGate/PushEvent" message="tns:IMainGate_PushEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://NordSteeel.Core.MainGate/IMainGate/PushEventResponse" message="tns:IMainGate_PushEvent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>