DataReceivers/ConverterUI/Service References/ConverterAPI/MainGateServiceAPI3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Converter.API" elementFormDefault="qualified" targetNamespace="http://Converter.API" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/MainGateServiceAPI?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Converter" />
  <xs:import schemaLocation="http://localhost:8001/MainGateServiceAPI?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetHeatNumber">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeatNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHeatNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConverterNumber">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConverterNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetConverterNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamNumber">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTeamNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGrade">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGradeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGradeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActualSteelAttributes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActualSteelAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Converter" minOccurs="0" name="GetActualSteelAttributesResult" nillable="true" type="q1:SteelAttributes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlannedSteelAttributes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlannedSteelAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Converter" minOccurs="0" name="GetPlannedSteelAttributesResult" nillable="true" type="q2:SteelAttributes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlowingStartTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlowingStartTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBlowingStartTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOffGasEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOffGasEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Converter" minOccurs="0" name="GetOffGasEventsResult" nillable="true" type="q3:ArrayOfOffGasEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanceEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanceEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Converter" minOccurs="0" name="GetLanceEventsResult" nillable="true" type="q4:ArrayOfLanceEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOffGasAnalysisEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOffGasAnalysisEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Converter" minOccurs="0" name="GetOffGasAnalysisEventsResult" nillable="true" type="q5:ArrayOfOffGasAnalysisEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlowingSchemas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlowingSchemasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetBlowingSchemasResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadBlowingSchema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="schemaName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadBlowingSchemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Converter" minOccurs="0" name="LoadBlowingSchemaResult" nillable="true" type="q7:ArrayOfcomBlowingSchemaEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBlowingSchema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="schemaName" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Converter" minOccurs="0" name="schema" nillable="true" type="q8:ArrayOfcomBlowingSchemaEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBlowingSchemaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RunBlowingSchema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="schemaName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunBlowingSchemaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>